<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAY1Ewp8QBtli6VD6fQup3dy4PgDc5gbKE</string>
	<key>GCM_SENDER_ID</key>
	<string>715569131917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.truckive.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>truckiveuser</string>
	<key>STORAGE_BUCKET</key>
	<string>truckiveuser.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:715569131917:ios:14d918e4f752b360f84dc4</string>
</dict>
</plist>